.main-div-taskMan{
    height: 100vh;
    background:linear-gradient(to right, rgb(61, 230, 126), rgb(240, 235, 240));
    margin: 0px 0px;
    display: flex;
    width: 100%;
    flex-direction: row;
}
.grid-1{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 47, 47);
}
.child-grid-1{
    border: 0px solid white;
    margin: 15px 0px;
}
.button-grid{
    display: flex;
    justify-content: center;
}
.task-submit-button{
    background:linear-gradient(to right, rgb(89, 51, 214), rgb(137, 18, 167));
    color: white;
}
.task-lable{
    color: white;
}
.grid-2{
    width: 80%;
}

